<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<body>

<a th:href="@{/admin/hofs}">HOF</a><br>
<a th:href="@{/admin/members}">MEMBER</a><br>

<div class = "container">
    <form action = "/projects" method = "post">
        <div class = "form_group">
            <label for = "name"> name</label>
            <input type = "text" id = "name" name = "name" placeholder="입력하시오"><br><br>

            <label for = "description"> description</label>
            <input type = "text" id = "description" name = "description" placeholder="입력하시오"><br><br>

            <label for = "startDate"> startDate</label>
            <input type = "date" id = "startDate" name = "startDate" placeholder="입력하시오"><br><br>

            <label for = "endDate"> endDate</label>
            <input type = "date" id = "endDate" name = "endDate" placeholder="입력하시오"><br><br>

        </div>
        <button type ="submit">등록</button>
    </form>
</div>

</body>
</html>